*{
    margin: 0px;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #ede9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    background-color: white;
    
}

h1 {
    margin-bottom: 10px;
    font-size: 22px;
}

p {
    color: #00000080;
}

img {
    width: 100%;
    
}

.conteudo {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divmusica {
    background-color: rgb(35, 81, 81);
    display: flex;
    padding: 10px;
    border-radius: 16px;
    margin: 14px;
}

.musica {
    width: 80px;
    height: 80px;

}